body {
  margin: 0;
  background: #fff;
  color: #202124;
  font-family: arial, sans-serif;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 30px auto;
  padding-top: 30px;
}
h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 2;
  color: #5e41a7;
  margin-bottom: 0%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 14px;
}

.weather-app {
  padding: 40px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.overview {
  margin-bottom: 25px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}

.weather-temperature strong {
  color: #4f83c7;
  font-size: 34px;
  line-height: 1px;
  font-weight: 300;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -25px;
}
.search {
  text-align: left;
  display: block;
  padding: 50px 30px;
  margin: 0 auto;
}
button {
  border-radius: 25px;
  border: 1px solid #8064e9;
  background: #8064e9;
  color: #fff;
  font-size: 16px;
  display: block;
  margin: 0 auto;
  line-height: 22px;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}

button:hover {
  text-underline-position: none;
  cursor: pointer;
  background: #5e41a7;
}

.limited-spots {
  font-weight: bold;
}
